.box{
    border: 1px #cccccc solid;
    margin-top: 30px;
    padding: 20px 30px;
}

.box .box-head{
    background-color: #D9D9D9;
    padding: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #466754;
    border-color: #3b5646;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3c5848;
    border-color: #354e3f;
}