body{
    background: url('../media/bg.jpg');
    background-size: cover;
    font-family: 'Comfortaa', sans-serif;
}

.box{
    background-color: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px 30px;
}

.box .box-head{
    background-color: #D9D9D9;
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
}

.box .box-head strong{
    font-size: 22px;
    font-weight: 900;
}

.btn-primary {
    color: #fff;
    background-color: #466754;
    border-color: #3b5646;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3c5848;
    border-color: #354e3f;
}